@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'Fira Code', monospace;
}

.grecaptcha-badge {
  @apply hidden;
}

.container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

.page-title {
  @apply mb-2 px-4 py-10 font-mono text-3xl font-bold uppercase lg:text-5xl;
}

.product-list-grid {
  @apply grid grid-cols-2 gap-y-12 lg:grid-cols-4 lg:gap-y-14;
}

.clip-rect-0 {
  clip: rect(0, 0, 0, 0);
}

.aspect-9-16 {
  aspect-ratio: 9/16;
}

.product-color-cross {
  @apply absolute inset-0 size-full overflow-hidden;
}

.product-color-cross::before,
.product-color-cross::after {
  content: '';
  transform-origin: center;
  @apply absolute left-[calc(50%-1px/2)] top-[-15%] z-10 block h-[130%] w-px bg-default-500;
}

.product-color-cross::before {
  @apply rotate-[-33.333deg];
}

.product-color-cross::after {
  @apply rotate-[33.333deg];
}
